{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}   
  
  <div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ context_user.profile.image.url }}">
      <div class="media-body">
        <div class="account-heading">
          <h2 class="mt-5">{{ context_user.username }}</h2>
          
          <h4><a class="article-title" href="{% url 'followers' context_user.username %}">Followers: {{follower|length}}</a></h4>
          <h4><a class="article-title" href="{% url 'following' context_user.username %}">Following: {{following|length}}</a></h4>
        </div>
        <p class="text-secondary">{{ context_user.email }}</p>
      </div>

            
    </div>
    <p class="article -content">
        <div class='container'><h3><strong>{{context_user.profile.bio}}</strong></h3>
        </div>
    </p> 
  </div>

  <h2>Following: </h2>

  {% for connection in following %}

    <article class="media content-section">
      <div class="media-body">
            <img class="rounded-circle article-img" src="{{ connection.follower.profile.image.url }}">
            <a class="mr-2" href="#">{{ connection.follower }}</a>
        
      </div>
    </article> 

  {% endfor %}

{% endblock content %}   